{{- range . }}
  - package-ecosystem: "github-actions"
    directory: "{{ .Directory -}}"
    schedule:
      interval: "{{ .Interval -}}"
      {{- if and .Day (eq .Interval "weekly") }}
      day: "{{ .Day -}}"
      {{- end }}
    commit-message:
      include: "scope"
    groups:
      minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
{{- end -}}
