{{- range . }}
  - package-ecosystem: "pip"
    directory: "{{ .Directory -}}"
    schedule:
      interval: "{{ .Interval -}}"
      {{- if and .Day (eq .Interval "weekly") }}
      day: "{{ .Day -}}"
      {{- end }}
    {{- if .Registries }}
    insecure-external-code-execution: allow # this is needed to access the private registry https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference#insecure-external-code-execution--
    registries:
      - {{ .Registries }}
    {{- end }}
    groups:
      minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
{{- end -}}
